// Default animation
$d-animation: .3s ease-in-out;

// Animation Duration
$d-duration: 300ms;
$x-short-duration: 30ms;
$short-duration: 100ms;
$long-duration: 750ms;
$x-long-duration: 1.2s;
$xx-long-duration: 2s;

// Animation eases
$bounce-in-out: cubic-bezier(0, 1.15, 1, -.23);

// Fonts
$d-font-family: 'Segoe UI', Helvetica, Tahoma, Geneva, Verdana, sans-serif;

// Media queries
$large-breakpoint: 1024px;
$medium-breakpoint: 768px;
$small-breakpoint: 500px;
