$img-size: 400px;
$img-size-sm: 180px;
.big-pic {
  background-image: url(../images/profile.jpg);
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);

  height: $img-size;
  margin-top: 2rem;
  min-height: $img-size;
  min-width: $img-size;
  transition: min-width $d-animation,
              min-height $d-animation,
              width $d-animation,
              height $d-animation,
              margin-top $d-animation;
  width: $img-size;

  &--small {
    height: $img-size-sm;
    margin-top: 3rem;
    min-height: $img-size-sm;
    min-width: $img-size-sm;
    width: $img-size-sm;
  }
}
