.main-layout {
  background-color: $white;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  min-height: 600px;
  position: relative;

  @media only screen and (max-width: $medium-breakpoint) {
    flex-direction: column;
    justify-content: space-between;
  }

  @media only screen and (max-width: $small-breakpoint) {
  }
}

.profile-section {
  align-items: center;
  background-color: $base;
  clip-path: polygon(0 0, 100% 0%, 92% 100%, 0 100%);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  transition: width $d-animation;
  width: 85%;

  @media only screen and (max-width: $medium-breakpoint) {
    clip-path: polygon(0 0, 100% 0%, 100% 99%, 0 100%);
    height: calc(100% - 3.5rem);
    transition: height $d-animation;
    width: 100%;
    z-index: 2;
  }

  &--open {
    justify-content: flex-start;
    width: 20%;

    @media only screen and (max-width: $large-breakpoint) {
      clip-path: none;
      overflow: hidden;
      width: 120px;
    }

    @media only screen and (max-width: $medium-breakpoint) {
      clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
      flex-direction: row;
      height: 5rem;
      justify-content: space-between;
      width: 100%;
    }

  }

  .info-block {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    transition: width $d-animation;
    width: 100%;

    @media only screen and (max-width: $medium-breakpoint) {
      transition: height $d-animation;
    }
    
    @media only screen and (max-width: $small-breakpoint) {
      height: 50%;
      justify-content: space-around;
      padding: 1rem .5rem;
    }

    &--small {
      @media only screen and (max-width: $medium-breakpoint) {
        align-items: center;
        flex: 5;
        flex-direction: row;
        justify-content: space-between;
        max-height: 100%;
        padding: .5rem;
        width: auto;
      }

      @media only screen and (max-width: $small-breakpoint) {
        flex: 5 1;
        padding: 0;
        padding-right: 1rem;
      }
    }
  }
}

.content-section {
  height: 100%;
  max-width: 0;
  min-width: 0;
  opacity: 0;
  overflow-y: auto;
  padding: .5rem;
  position: relative;
  transition: max-width $d-animation,
              min-width $d-animation,
              opacity $x-long-duration ease-in-out,
              width $d-animation;

  @media only screen and (max-width: $medium-breakpoint) {
    height: 0;
    max-width: 100%;
    padding: 0;
    width: 100%;
  }

  &--open {
    max-width: calc(80% - 15%);
    min-width: calc(80% - 260px);
    opacity: 1;

    @media only screen and (max-width: $large-breakpoint) {
      max-width: calc(80% - 12%);
      min-width: calc(80% - 180px);
    }

    @media only screen and (max-width: $medium-breakpoint) {
      height: 100%;
      max-width: 100%;
      padding-bottom: 3rem;
    }
  }
}

.menu-section {
  align-content: right;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  max-width: 14%;
  min-width: 160px;
  position: absolute;
  right: 0;
  width: 15%;

  @media only screen and (max-width: $large-breakpoint) {
    min-width: 200px;
  }

  @media only screen and (max-width: $medium-breakpoint) {
    background-color: $white;
    bottom: 0;
    box-shadow: 0 -2px 12px rgba(0, 0, 0, .15);
    height: 4rem;
    left: 0;
    max-width: 100%;
    right: 0;
    width: 100%;
    z-index: 1;
  }
}
