.main-layout {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  min-height: 720px;
}

.profile-section {
  align-items: center;
  background-color: $base;
  clip-path: polygon(0 0, 100% 0%, 92% 100%, 0 100%);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  transition: width $d-animation;
  width: 85%;

  &--open {
    justify-content: flex-start;
    width: 20%;
  }

  .info-block {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4% 1rem;
    transition: width $d-animation;
    width: 100%;
  }

  @media only screen and (max-width: $large-breakpoint) {
    &--open {
      clip-path: none;
      overflow: hidden;
      width: 120px;
    }
  }
}

.content-section {
  height: 100%;
  max-width: 0;
  min-width: 0;
  opacity: 0;
  overflow-y: auto;
  padding: .5rem;
  position: relative;
  transition: max-width $d-animation,
              min-width $d-animation,
              opacity $x-long-duration ease-in-out,
              width $d-animation;

  &--open {
    max-width: calc(80% - 15%);
    min-width: calc(80% - 260px);
    opacity: 1;
    @media only screen and (max-width: $large-breakpoint) {
      max-width: calc(80% - 12%);
      min-width: calc(80% - 180px);
    }
  }

}

.menu-section {
  align-content: right;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  max-width: 14%;
  min-width: 160px;
  position: absolute;
  right: 0;
  width: 15%;

  @media only screen and (max-width: $large-breakpoint) {
    min-width: 220px;
  }
}
