@keyframes spinning {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.loading {
  align-items: center;
  background-color: rgba($white, .6);
  color: $grey;
  display: flex;
  font-size: 24px;
  height: calc(100% - 1rem);
  justify-content: center;
  position: absolute;
  text-align: center;
  width: calc(100% - 1rem);

  &__spinner {
    animation: spinning 1s linear infinite;
    color: $grey;
    font-size: 24px;
    padding: 0 .5rem;
  }
}
