.menu-item {
  box-sizing: border-box;
  color: $base;
  display: block;

  font-family: $d-font-family;
  font-size: 180%;

  padding: 1rem 2rem 1rem .25rem;
  position: relative;
  text-align: right;
  text-decoration: none;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
  width: 100%;
  z-index: 2;

  @media only screen and (max-width: $large-breakpoint) {
    font-size: 160%;
  }

  @media only screen and (max-width: $medium-breakpoint) {
    font-size: 120%;
    padding-top: 0;
    width: auto;
  }

  @media only screen and (max-width: $small-breakpoint) {
    padding: .25rem 1rem 1rem;
  }

  &::before {
    background-color: $contrast;
    content: '';
    height: 42px;
    position: absolute;
    right: 0;
    transform: translateY(-14%);
    transition: width .3s ease-in-out, border-radius .3s ease-in-out;
    width: 0;
    z-index: -1;

    @media only screen and (max-width: $medium-breakpoint) {
      height: .5rem;
      left: 50%;
      top: -.85rem;
      transform: translate(-50%, -100%);
                  
      transition: border-radius .3s ease-in-out,
                  width .3s ease-in-out;
      width: 0;
    }
  }

  &:hover {
    &::before {
      width: 0.5rem;

      @media only screen and (max-width: $medium-breakpoint) {
        height: .5rem;
        width: 100%;
      }
    }
  }

  &--active {
    color: $highlight;

    &:hover {
      &::before {
        border-radius: 2% 0 0 2% / 50% 0 0 50%;
        width: 105%;

        @media only screen and (max-width: $large-breakpoint) {
          width: 85%;
        }
        
        @media only screen and (max-width: $medium-breakpoint) {
          border-radius: 50% 50% 0 0;
        }
      }
    }

    &::before {
      border-radius: 2% 0 0 2% / 50% 0 0 50%;
      width: 100%;

      @media only screen and (max-width: $medium-breakpoint) {
        border-radius: 50% 50% 0 0;
      }
    }
  }
}
