.menu-container {
  align-content: center;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media only screen and (max-width: $medium-breakpoint) {
    justify-content: space-evenly;
  }
}
