@keyframes shake {
  25% { transform: rotate(8deg); }
  75% { transform: rotate(-8deg); }
  100% { transform: rotate(0); }
}

.page-main {
  padding: 1rem;

  .page-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1rem;

    &__container,
    &__container--full {
      width: 98%;
    }

    &__container--two-thirds {
      width: 64%;
    }

    &__container--half {
      width: 48%;
    }

    &__container--third {
      width: 32%;
    }
  }

  .title {
    color: $contrast;
    font-family: $sans;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 2rem;

    &::after {
      background-color: $contrast;
      content: '';
      height: 2px;
      margin-top: .5rem;
      position: absolute;
      width: calc(100% - 4rem);
    }
  }

  .subtitle {
    color: $grey;
    display: inline-block;
    font-family: $sans;
    font-size: 24px;
    font-weight: 500;
    padding: 1rem 0 0;
  }

  .paragraph {
    color: $base;
    font-family: $serif;
    font-size: 18px;
    line-height: 24px;
    padding: 1rem;
    text-align: justify;
    white-space: pre-wrap;
  }

  .page-link {
    color: $contrast;
    display: inline-block;
    font-family: $sans;
    font-size: 16px;
    font-weight: 500;
    padding: 1rem 0;

    &__anchor {
      color: $contrast;
      font-family: $sans;
      font-size: 16px;
      font-weight: 500;
      padding-left: .25rem;
      position: relative;
      text-decoration: none;

      &::before {
        background-color: $contrast;
        bottom: -2px;
        content: '';
        height: 2px;
        position: absolute;
        transition: width $d-duration ease-in;
        width: 0;
      }
    }

    &__icon {
      font-weight: bold;
      margin-left: .5rem;
      text-align: center;

      transform-origin: center;
    }

    &:hover {
      .page-link__anchor::before {
        width: 100%;
      }

      .page-link__icon {
        animation: shake $d-animation $d-duration;
      }
    }
  }
}

