@keyframes shake {
  25% { transform: rotate(8deg); }
  75% { transform: rotate(-8deg); }
  100% { transform: rotate(0); }
}

.portfolio-link {
  align-items: center;
  display: flex;
  transform: translateX(200%);
  transition: transform $d-animation;

  // NOTE: Applies transition delay to subsequent portfolio links
  @for $i from 1 to 5 {
    &:nth-child(#{$i}) { transition-delay: $i * .1s; }
  }

  &__header {
    color: $background;
    display: inline-block;
    font-family: $d-font-family;
    font-size: 22px;
    padding-left: 1rem;
    transform: translateY(-50%);
    transition: color $d-animation;
  }

  .social-link {
    color: $background;
    font-size: 28px;
    line-height: 1rem;
    padding: .25rem 1rem;

    svg {
      transform-origin: center;
      transition: fill $d-animation, color $d-animation;
    }
  }

  &:hover {
    cursor: pointer;

    .social-link {
      color: $highlight;

      svg {
        animation: shake $d-animation;
        animation-delay: $d-duration;
        fill: $highlight;
      }
    }

  }

  &:hover & {
    &__header {
      color: $highlight;
    }
  }
}


.portfolio-badge {
  background-color: $contrast;
  border-radius: 12px / 50%;
  color: $background;
  display: inline-block;
  font-family: $d-font-family;
  font-size: 16px;
  font-weight: 500;
  line-height: .75rem;
  margin: 0 .5rem;
  padding: .5rem;
  text-align: center;

  @media only screen and (max-width: $medium-breakpoint) {
    margin-bottom: .25rem;
  }
}


.portfolio-entry {
  display: flex;
  flex-direction: column;
  margin-bottom: 8rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  &__block-area {
    border-radius: 3px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .3);
    display: flex;
    margin-bottom: .75rem;
    overflow: hidden;
    position: relative;
  }

  &__image {
    height: 10rem;
    object-fit: cover;
    object-position: top center;
    width: 100%;
    transition: width $d-animation,
                filter $d-animation;
  }

  &__header {
    background-color: $base;
    clip-path: polygon(91.5% 0%, 100% 0%, 100% 100%, 88% 100%);
    height: 10rem;
    position: absolute;
    right: 0;
    transition: clip-path $d-animation;
    width: 100%;

    @media only screen and (max-width: $small-breakpoint) {
      background-color: transparent;
      clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
    }
  }

  &__title {
    background-color: $base;
    bottom: 1.75rem;
    clip-path: polygon(4% 0%, 100% 0%, 100% 100%, 0% 100%);
    color: white;
    font-family: $d-font-family;
    font-size: 30px;
    font-weight: bold;
    padding: .25rem 3rem .5rem;
    position: absolute;
    right: 0;
    transform: translate3d(0, 0, 0);
    transition: color $d-animation,
                opacity $d-animation,
                font-size $d-animation,
                right $d-animation;
    z-index: 1;

    @media only screen and (max-width: $small-breakpoint) {
      bottom: 0;
      font-size: 24px;
    }
  }

  &__text-area {
    color: lighten($base, 12);
    font-size: 18px;
    padding: .5rem;

    p {
      padding: .5rem 0;
    }
  }

  &__links {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    padding: .5rem 0;
    position: absolute;
    right: 3rem;
    transition: transform $d-animation;
  }

  &:not(:last-child)::after {
    background-color: $grey;
    content: '';
    height: 1px;
    width: 100%;
  }

  &__block-area:hover {
    .portfolio-entry__image {
      filter: brightness(35%);
      width: 75%;
    }

    .portfolio-entry__header {
      clip-path: polygon(61.5% 0%, 100% 0%, 100% 100%, 58% 100%);

      @media only screen and (max-width: $small-breakpoint) {
        background-color: $base;
        clip-path: polygon(14% 0%, 100% 0%, 100% 100%, 20% 100%);
      }
    }

    .portfolio-entry__title {
      color: $highlight;
      right: 32%;

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 11px;
        left: 0;
        padding: .5rem;
        right: auto;
      }
    }

    .portfolio-link {
      transform: translateX(0);
    }
  }
}
