.social-bar {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 0;

  @media only screen and (max-width: $large-breakpoint) {
    padding: 4rem 0 0;
  }
  @media only screen and (max-width: $small-breakpoint) {
    padding: 0;
  }

  &--small {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5rem 0 0;

    @media only screen and (max-width: $large-breakpoint) {
      padding: 4rem 0 0;
    }

    @media only screen and (max-width: $medium-breakpoint) {
      flex-direction: row;
      padding: 0;
      padding-right: 2rem;
    }

    @media only screen and (max-width: $small-breakpoint) {
      padding-right: 0;
    }
  }
}
