.social-bar {
  align-content: center;
  align-items: center;
  display: flex;
  height: 42%;
  justify-content: space-between;
  justify-self: flex-end;
  padding: 0 2rem 2rem;

  @media only screen and (max-width: $large-breakpoint) {
    padding: 2rem 0 0;
  }
  @media only screen and (max-width: $medium-breakpoint) {
    width: 70%;
  }
  @media only screen and (max-width: $small-breakpoint) {
    padding: 0;
  }

  &--small {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 2.5rem 1rem;

    @media only screen and (max-width: $large-breakpoint) {
      padding: 4rem 0 0;
    }

    @media only screen and (max-width: $medium-breakpoint) {
      flex-direction: row;
      padding: 0;
      padding-right: 2rem;
    }

    @media only screen and (max-width: $small-breakpoint) {
      padding-right: 0;
    }
  }
}
