@keyframes shake {
  25% { transform: rotate(8deg); }
  75% { transform: rotate(-8deg); }
  100% { transform: rotate(0); }
}

.social-link {
  color: $grey;
  font-size: 40px;
  padding: 1rem;
  transition: color $d-animation;

  svg {
    transform-origin: center;
    transition: transform $d-animation;
  }

  &:hover svg {
    animation: shake $d-animation;
    color: $highlight;
  }

  @media only screen and (max-width: $large-breakpoint) {
    font-size: 36px;
  }
}
