.title-container {
  padding-top: 4rem;
  text-align: center;

  &--small {
    padding-top: .5rem;
  }

  .title {
    font-family: $d-font-family;
    transition: font-size .3s ease-in-out, opacity .3s ease-in-out;

    &--main {
      color: $contrast;
      font-size: 36px;
      font-weight: bold;

      &--small {
        font-size: 26px;
        padding-top: 1.5rem;

        .hideable {
          display: none;
        }
      }
    }

    &--sub {
      color: $grey;
      font-size: 24px;
      font-weight: 500;
      padding-top: 1rem;
      transition: opacity .3s ease-in-out;

      &--hidden {
        display: none;
      }
    }
  }
}
