.title-container {
  padding-top: 4rem;
  text-align: center;

  @media only screen and (max-width: $small-breakpoint) {
    padding-top: 1.5rem;
  }

  &--small {
    padding-top: .5rem;

    @media only screen and (max-width: $medium-breakpoint) {
      height: 100%;
      padding-top: 0;
    }
  }

  .title {
    font-family: $d-font-family;
    transition: font-size .3s ease-in-out, opacity .3s ease-in-out;

    @media only screen and (max-width: $large-breakpoint) {
      margin-bottom: 2rem;
      padding-top: 0;
    }

    &--main {
      color: $contrast;
      font-size: 36px;
      font-weight: bold;
      word-wrap: break-word;
      white-space: normal;
      

      @media only screen and (max-width: $large-breakpoint) {
        line-height: 2rem;
      }

      .hideable {
        @media only screen and (max-width: $small-breakpoint) {
          display: none;
        }

      }

      &--small {
        font-size: 26px;
        padding-top: 1.5rem;

        @media only screen and (max-width: $medium-breakpoint) {
          font-size: 32px;
          margin: 0;
          padding-top: 0;
        }

        @media only screen and (max-width: $small-breakpoint) {
          display: none;
        }

        .hideable {
          display: none;
        }
      }
    }

    &--sub {
      color: $grey;
      font-size: 24px;
      font-weight: 500;
      padding-top: 1rem;
      transition: opacity .3s ease-in-out;

      @media only screen and (max-width: $small-breakpoint) {
        display: none;
      }

      &--hidden {
        display: none;
      }
    }
  }
}
