.tags-container {
  display: flex;
  height: auto;
  justify-content: space-between;
  padding-top: 1rem;
  width: auto;

  @media only screen and (max-width: $medium-breakpoint) {
    padding-top: 1rem;
  }

  @media only screen and (max-width: $small-breakpoint) {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .tag {
    color: $highlight;
    font-family: $sans;
    font-size: 24px;
    width: auto;

    @media only screen and (max-width: $medium-breakpoint) {
      font-size: 20px;
    }
    @media only screen and (max-width: $small-breakpoint) {
      font-size: 18px;
      margin-bottom: .5rem;
    }

    &::after {
      color: $contrast;
      content: '/';
      font-weight: 500;
      margin: 0 .5rem;

      @media only screen and (max-width: $small-breakpoint) {
        content: '';
      }
    }

    &:last-child {
      &::after {
        content: '';
      }
    }
  }

  &--short {
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-width: $large-breakpoint) {
      height: auto;
      padding-top: 1.5rem;
    }

    @media only screen and (max-width: $medium-breakpoint) {
      display: none;
    }

    .tag {
      font-size: 16px;
      padding: .25rem 0;
      text-align: center;

      @media only screen and (max-width: $large-breakpoint) {
        margin-bottom: .5rem;
      }

      &::after {
        content: '';
        display: none;
      }
    }
  }
}
