.big-pic {
  background-image: url(../images/profile.jpg);
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);

  height: 320px;
  margin: 4rem 0 5rem 0;
  transition: width .3s ease-in-out, height .3s ease-in-out;
  width: 320px;

  &--small {
    margin: 5rem 0 1rem 0;
    height: 160px;
    width: 160px;
  }
}
