@import 'defaults';

$img-size: 350px;
.big-pic {
  background-image: url(../images/profile.jpg);
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);

  height: $img-size;
  min-height: $img-size;
  min-width: $img-size;
  margin-top: 2rem;
  transition: width $d-animation, height $d-animation;
  width: $img-size;
}
