@import './defaults/reset';
@import './defaults/colors';

.copyright {
  align-self: center;
  bottom: 0;
  color: $contrast;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 90%;
  font-weight: 400;
  padding: .5rem;
  position: absolute;
}