@import './colors';

.main-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.profile-section {
  background-color: $base;
  clip-path: polygon(0 0, 100% 0%, 92% 100%, 0 100%);
  width: 84%;

  transition: all .3s ease-in-out;

  &--open {
    width: 30%;
  }
}
