@import './defaults/reset';
@import './defaults/colors';
@import './defaults/defaults';

.main-layout {
  display: flex;
  height: 100vh;
  min-height: 768px;
}

.profile-section {
  align-items: center;
  background-color: $base;
  clip-path: polygon(0 0, 100% 0%, 92% 100%, 0 100%);
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  transition: width $d-animation;
  width: 85%;

  &--open {
    justify-content: flex-start;
    width: 20%;
  }

  .info-block {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4% 1rem;
    transition: width $d-animation;
    width: 100%;
  }
}

.page-section {
  max-width: 0;
  min-width: 0;
  transition: max-width $d-animation,
              min-width $d-animation,
              width $d-animation;

  &--open {
    max-width: calc(80% - 15%);
    min-width: calc(80% - 260px);
  }
}

.menu-section {
  align-content: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 15%;
  min-width: 220px;
  position: absolute;
  right: 0;
  width: 15%;
}
