@import 'colors';

.menu-item {
  box-sizing: border-box;
  color: $base;
  display: block;

  font-family: 'Segoe UI', Helvetica, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 180%;

  padding: 1rem 2rem;
  text-decoration: none;
  text-align: right;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
  width: 100%;

  &::before {
    background-color: $contrast;
    content: '';
    height: 42px;
    position: absolute;
    right: 0;
    transform: translateY(-14%);
    transition: width .3s ease-in-out, border-radius .3s ease-in-out;
    width: 0;
    z-index: -1;
  }

  &:hover {
    &::before {
      width: 0.5rem;
    }
  }

  &--active {
    color: $highlight;

    &:hover {
      &::before {
        border-radius: 2% 0 0 2% / 50% 0 0 50%;
        width: 100%;
      }
    }

    &::before {
      border-radius: 2% 0 0 2% / 50% 0 0 50%;
      width: 100%;
    }
  }
}
