@import './defaults/reset';
@import './defaults/colors';
@import './defaults/defaults';

@keyframes bounce {
  50% { transform: rotate(-8deg); }
  100% { transform: rotate(0deg); }
}

.social-link {
  color: $grey;
  font-size: 40px;
  padding: 1rem;
  transform-origin: center;
  transition: color $d-animation;

  &:hover {
    animation: bounce $d-animation;
    color: $highlight;
  }
}
