@import 'colors';

.title-container {
  text-align: center;

  .title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: font-size .3s ease-in-out, opacity .3s ease-in-out;

    &--main {
      color: $contrast;
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 3rem;
      margin-top: 4rem;

      &--small {
        font-size: 26px;
        margin-bottom: 2rem;
        margin-top: 1.5rem;

        .hideable {
          display: none;
        }
      }
    }

    &--sub {
      color: $grey;
      font-weight: 500;
      transition: opacity .3s ease-in-out;

      &--hidden {
        display: none;
      }
    }
  }
}