@import 'colors';

.title-container {
  text-align: center;

  .title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: font-size .3s ease-in-out, opacity .3s ease-in-out;

    &--main {
      color: $contrast;
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 3rem;
      margin-top: 4rem;

      .hideable {
        transition: opacity .3s ease-in-out;
      }
    }

    &--sub {
      color: $grey;
      font-weight: 500;
      transition: opacity .3s ease-in-out;
    }
  }
}