@import './defaults/reset';
@import './defaults/colors';

.tags-container {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  padding-top: 3rem;
  width: auto;

  .tag {
    color: $highlight;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    width: auto;

    &::after {
      color: $contrast;
      content: '/';
      font-weight: 500;
      margin: 0 .5rem;
    }

    &:last-child {
      &::after {
        content: '';
      }
    }
  }
  
  &--short {
    flex-direction: column;
    justify-content: center;

    .tag {
      font-size: 16px;
      padding: .25rem 0;
      text-align: center;
      &::after {
        content: '';
        display: none;
      }
    }
  }
}
