@import 'colors';

.tags-container {
  display: flex;
  justify-content: space-between;

  .tag {
    color: $highlight;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;

    &::after {
      color: $contrast;
      content: '/';
      font-weight: 500;
      margin: 0 .5rem;
    }

    &:last-child {
      &::after {
        content: '';
      }
    }
  }

}
